{% macro imprimir_datos(nombre, apellido, edad, nacionalidad = 'espanya') %}
<div>Hola, mi nombre es {{ nombre }} {{ apellido }}, tengo {{ edad }} anyos y soy de {{ nacionalidad }}</div>
{% endmacro %}
