{% block bloqueTitulo %}
    <div>Esta llamada al titulo se hace desde la plantilla base</div>
{% endblock %}
{% block bloqueNoticia %}
    <div>Esta llamada a la noticia se hace desde la plantilla base</div>
{% endblock %}
